GMML_compat.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:annotation>
		<xsd:documentation xml:lang="en">GenMAPP version 2.0 Pathway Schema
			version 1.0   All graphics measurements are in
			centimeters.</xsd:documentation>
	</xsd:annotation>


<!-- Type Definitions -->
	<xsd:simpleType name="NameType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50" fixed="true"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ColorType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:hexBinary"/>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Aqua"/>
					<xsd:enumeration value="Black"/>
					<xsd:enumeration value="Blue"/>
					<xsd:enumeration value="Fuchsia"/>
					<xsd:enumeration value="Gray"/>
					<xsd:enumeration value="Green"/>
					<xsd:enumeration value="Lime"/>
					<xsd:enumeration value="Maroon"/>
					<xsd:enumeration value="Navy"/>
					<xsd:enumeration value="Olive"/>
					<xsd:enumeration value="Purple"/>
					<xsd:enumeration value="Red"/>
					<xsd:enumeration value="Silver"/>
					<xsd:enumeration value="Teal"/>
					<xsd:enumeration value="White"/>
					<xsd:enumeration value="Yellow"/>
					<xsd:enumeration value="Transparent"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

	<xsd:simpleType name="Dimension">
		<xsd:restriction base="xsd:float">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="GeneProductDataSourceType">
		<xsd:union>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="FlyBase"/>
					<xsd:enumeration value="GenBank"/>
					<xsd:enumeration value="GeneOntology"/>
					<xsd:enumeration value="InterPro"/>
					<xsd:enumeration value="LocusLink"/>
					<xsd:enumeration value="MGI"/>
					<xsd:enumeration value="RefSeq"/>
					<xsd:enumeration value="RGD"/>
					<xsd:enumeration value="SGD"/>
					<xsd:enumeration value="SwissProt"/>
					<xsd:enumeration value="TAIR"/>
					<xsd:enumeration value="UniGene"/>
					<xsd:enumeration value="UniProt"/>
					<xsd:enumeration value="WormBase"/>
					<xsd:enumeration value="Affy"/>
					<xsd:enumeration value="ZFIN"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>

<!-- End: Type Definitions -->


	<xsd:group name="NotesAndCommentGroup">
		<xsd:sequence>
			<xsd:element name="Notes" type="xsd:string" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Pathway Notes appear in the
						MAPP information window in GenMAPP. They are not limited in
						length.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
	
			<xsd:element name="Comment" type="xsd:string" minOccurs="0"
			maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Pathway Comments appear in the
						MAPP information window in GenMAPP. Pathway Comments also
						appear on the mapp information area on the map itself. They
						are currently limited in length to 50 characters and are
						GenMAPP REMARKS.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
<!-- Pathway -->
	<xsd:element name="Pathway">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>
				
				<xsd:element name="Graphics" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Pathway graphics describe
								the coordinates of the GenMAPP drawing board, and Map
								Information Area.</xsd:documentation>
						</xsd:annotation>
						<xsd:attribute name="BoardWidth" type="xsd:float"
							use="required"/>
						<xsd:attribute name="BoardHeight" type="xsd:float"
							use="required"/>
						<xsd:attribute name="WindowWidth" type="xsd:float"
							use="required"/>
						<xsd:attribute name="WindowHeight" type="xsd:float"
							use="required"/>
							<!-- TODO: I suspect these below aren't used for anything -->
						<xsd:attribute name="MapInfoLeft" type="xsd:float"
							use="optional" default="0"/>
						<xsd:attribute name="MapInfoTop" type="xsd:float"
							use="optional" default="0"/>
					</xsd:complexType>
				</xsd:element>

				<xsd:element ref="GeneProduct" minOccurs="0"
					maxOccurs="unbounded"/>

				<xsd:element ref="Line" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="Label" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="Shape" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="Brace" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="FixedShape" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="ComplexShape" minOccurs="0" maxOccurs="unbounded"/>

				<xsd:element ref="InfoBox" minOccurs="1" maxOccurs="1" />
				
				<xsd:element ref="Legend" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>

			<xsd:attribute name="Name" type="NameType" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">GenMAPP Pathway
						Title</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="Organism" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Organism is not a field in the
						GenMAPP database at this time, but we want to preserve this
						information when importing maps, and also when exporting maps.
						GenMAPP maps have the organism implied from the
						filename.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="Data-Source" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">On import to GenMAPP,
						Data-Source value could be 'KEGG', 'Cytoscape', etc.  On export
						from GenMAPP, value should be 'GenMAPP' with version
						number.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="Version" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">GenMAPP version, use for export
						of maps from GenMAPP only.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="Author" type="xsd:string" use="optional"/>

			<xsd:attribute name="Maintained-By" type="xsd:string" use="optional"/>

			<xsd:attribute name="Email" type="xsd:string" use="optional"/>

			<xsd:attribute name="Availability" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Copyright
						Information</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="Last-Modified" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Last modification date by
						GenMAPP.  Use only when exporting GenMAPP
						maps.</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

		</xsd:complexType>
	</xsd:element>
<!-- End: Pathway -->


<!-- Gene Product -->
	<xsd:element name="GeneProduct">

		<xsd:annotation>
			<xsd:documentation xml:lang="en">GeneProduct is a gene in GenMAPP
				terminology.</xsd:documentation>
		</xsd:annotation>

		<xsd:complexType>

			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>
				
				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="CenterX" type="xsd:float" use="required"/>
						<xsd:attribute name="CenterY" type="xsd:float" use="required"/>
						<xsd:attribute name="Width" default="600" type="Dimension"/>
						<xsd:attribute name="Height" default="300" type="Dimension"/>
						<xsd:attribute name="Color" type="ColorType"/>
					</xsd:complexType>
				</xsd:element>


			</xsd:sequence>

			<xsd:attribute name="GraphId" type="xsd:ID" use="optional" />
			
			<xsd:attribute name="Name" type="NameType" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">GenMAPP ID</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="GeneProduct-Data-Source"
					type="GeneProductDataSourceType" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">GenMAPP System
					Code</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			
			<xsd:attribute name="GeneID" type="NameType" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The Gene Id used by GenMAPP
					Gene Finder.  One of three components used to declare a gene in
					GenMAPP.  The other two being the mapp Object.Type and System
					Code, herein known as and Gene-Produc-DataSource.  Previously,
					Attribute:Short-Name in ferrante xsd.  Found in the Object.ID
					field.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="BackpageHead" type="xsd:string"
				use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">GenMAPP Backpage
						Header</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="Xref" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">GenMAPP
						Links</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>

			<xsd:attribute name="Type" use="required">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">There is not a correlary
					field in GenMAPP mapp files which contains this information,
					and ther is no clear determiner.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="protein"/>
						<xsd:enumeration value="rna"/>
						<xsd:enumeration value="complex"/>
						<xsd:enumeration value="unknown"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>

		</xsd:complexType>

	</xsd:element>
<!-- End: GeneProduct -->

<!-- Line -->
	<xsd:element name="Line">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>

				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Point" minOccurs="2" maxOccurs="2">
								<xsd:complexType>
									<xsd:attribute name="x" type="xsd:float"/>
									<xsd:attribute name="y" type="xsd:float"/>
									<xsd:attribute name="GraphRef" type="xsd:IDREF" use="optional" />					
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Color" type="ColorType"
							default="Black"/>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>

			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Line"/>
						<xsd:enumeration value="Arrow"/>
						<xsd:enumeration value="Receptor"/>
						<xsd:enumeration value="ReceptorRound"/>
						<xsd:enumeration value="ReceptorSquare"/>
						<xsd:enumeration value="LigandRound"/>
						<xsd:enumeration value="LigandSquare"/>
						<xsd:enumeration value="TBar"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>

			<xsd:attribute name="Style" default="Solid">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Solid"/>
						<xsd:enumeration value="Broken"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>

		</xsd:complexType>

	</xsd:element>
<!-- End: Line -->

<!-- Label -->
	<xsd:element name="Label">

		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">This is text on a GenMAPP map that
					can have associated comments.</xsd:documentation>
			</xsd:annotation>

			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>

				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="CenterX" use="required"
							type="xsd:float"/>
						<xsd:attribute name="CenterY" use="required"
							type="xsd:float"/>
						<xsd:attribute name="Width" use="required"
							type="Dimension"/>
						<xsd:attribute name="Height" use="required"
							type="Dimension"/>
						<xsd:attribute name="Color" use="optional"
							type="ColorType"/>
						<xsd:attribute name="FontName" default="Arial"
							type="xsd:string"/>
						<xsd:attribute name="FontStyle" default="Normal">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Normal"/>
									<xsd:enumeration value="Italic"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="FontDecoration" default="Normal">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Normal"/>
									<xsd:enumeration value="Underline"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="FontStrikethru" default="Normal">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Normal"/>
									<xsd:enumeration value="Strikethru"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="FontWeight" default="Normal">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="Normal"/>
									<xsd:enumeration value="Bold"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
						<xsd:attribute name="FontSize" type="xsd:nonNegativeInteger"
							default="12"/>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>
			<xsd:attribute name="GraphId" type="xsd:ID" use="optional" />					
			<xsd:attribute name="TextLabel" use="required"
				type="xsd:string"/>
			<xsd:attribute name="Xref" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">GenMAPP
						Links</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			
		</xsd:complexType>

	</xsd:element>
<!-- End: Label -->


<!-- Shape -->
	<xsd:element name="Shape">

		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">FIXME: No comments for
					now</xsd:documentation>
			</xsd:annotation>

			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>

				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="CenterX" type="xsd:float"/>
						<xsd:attribute name="CenterY" type="xsd:float"/>
						<xsd:attribute name="Width" type="Dimension"/>
						<xsd:attribute name="Height" type="Dimension"/>
						<xsd:attribute name="Color" type="ColorType"/>
						<xsd:attribute name="Rotation" type="xsd:float"/>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>

			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Rectangle"/>
						<xsd:enumeration value="Arc"/>
						<xsd:enumeration value="Oval"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="GraphId" type="xsd:ID" use="optional" />					
		</xsd:complexType>

	</xsd:element>
<!-- End: Shape -->


<!-- Brace -->
	<xsd:element name="Brace">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>

				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="CenterX" type="xsd:float"
							use="required"/>
						<xsd:attribute name="CenterY" type="xsd:float"
							use="required"/>
						<xsd:attribute name="Width" type="Dimension"
							use="required"/>
						<xsd:attribute name="PicPointOffset" type="Dimension"
							use="optional"/>
						<xsd:attribute name="Color" type="ColorType"
							default="Black"/>

						<xsd:attribute name="Orientation" default="top">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<!-- 0 in GenMAPP    -->
									<xsd:enumeration value="top"/>
									<!-- 1 in GenMAPP  -->
									<xsd:enumeration value="right"/>
									<!-- 2 in GenMAPP -->
									<xsd:enumeration value="bottom"/>
									<!-- 3 in GenMAPP   -->
									<xsd:enumeration value="left"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>

					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>
			<xsd:attribute name="GraphId" type="xsd:ID" use="optional" />					
			
		</xsd:complexType>

	</xsd:element>
<!-- End: Brace -->

<!-- FixedShape -->
	<xsd:element name="FixedShape">

		<xsd:complexType>

			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>

				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="CenterX" type="xsd:float"
							use="required"/>
						<xsd:attribute name="CenterY" type="xsd:float"
							use="required"/>
					</xsd:complexType>
				</xsd:element>

			</xsd:sequence>

			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="OrganA"/>
						<xsd:enumeration value="OrganB"/>
						<xsd:enumeration value="OrganC"/>
						<xsd:enumeration value="Ribosome"/>
						<xsd:enumeration value="CellA"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="GraphId" type="xsd:ID" use="optional" />					
		</xsd:complexType>

	</xsd:element>
<!-- End: FixedShape -->


<!-- ComplexShape -->
	<xsd:element name="ComplexShape">

		<xsd:complexType>
			<xsd:sequence>

				<xsd:group ref="NotesAndCommentGroup"/>

				<xsd:element name="Graphics" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:attribute name="CenterX" type="xsd:float"
							use="required"/>
						<xsd:attribute name="CenterY" type="xsd:float"
							use="required"/>
						<xsd:attribute name="Width" type="xsd:float" use="required"/>
						<xsd:attribute name="Rotation" type="xsd:float" default="0"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			
			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Hexagon"/>
						<xsd:enumeration value="Pentagon"/>
						<xsd:enumeration value="Triangle"/>
						<xsd:enumeration value="Vesicle"/>
						<xsd:enumeration value="ProteinComplex"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="GraphId" type="xsd:ID" use="optional" />					
		</xsd:complexType>
	</xsd:element>
<!-- End: ComplexShape -->

<!-- InfoBox -->
	<xsd:element name="InfoBox">

		<xsd:annotation>
			<xsd:documentation xml:lang="en">InfoBox element holds the
			coordinates on the GenMAPP layout where the Information kept in the
			Info table will be displayed in the mapp.</xsd:documentation>
		</xsd:annotation>
	
		<xsd:complexType>
			<xsd:attribute name="CenterX" type="xsd:float" use="required"/>
			<xsd:attribute name="CenterY" type="xsd:float" use="required"/>
		</xsd:complexType>
	</xsd:element>
<!-- End: InfoBox -->

<!-- Legend -->
	<xsd:element name="Legend">
	
		<xsd:complexType>
			<xsd:attribute name="CenterX" type="xsd:float" use="required"/>
			<xsd:attribute name="CenterY" type="xsd:float" use="required"/>
		</xsd:complexType>
	</xsd:element>
<!-- End: Legend -->

</xsd:schema>
